<h3>Practice 1</h3>

Create a 4×4 matrix filled with zeros.
Then set the main diagonal (top-left to bottom-right) to 1.

<h3>Practice 2</h3>

Create matrix = np.arange(1, 13).reshape(3, 4)
Print:
1. Second row only
2. Third column only
3. Top-left 2×2 sub-matrix

<h3>Practice 3</h3>

Using the same matrix:

1. Replace all numbers greater than 8 with 999
2. Then calculate the sum of each row

<h3>Practice 4</h3>

Create a 5×3 matrix of random integers between 1 and 100.
Print the average of each column (axis=0).

<h3>Practice 5</h3>

Create temps = np.array([[22, 25, 19],[28, 30, 24],[21, 18, 23]])
Convert the entire matrix from Celsius to Fahrenheit in one line.